
.modal-content {
  width: 375px!important;
  margin: auto;
  padding: 25px;
  border-radius: 25px;
  border: none!important;
  height: 90vh;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.brand-div {
  text-align: center;
  height: 50px;
}

.header-nav {
  background-color: #fff !important;
  margin-bottom: 85px;
}

.sid-logo {
  max-width: 75%;
  margin: auto!important;
}

.bottom-10 {
  margin-bottom: 10px;
}

.footer-text {
  font-size: 10px;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #000!important;
  cursor: pointer;
}

.a-span {
  cursor: pointer;
  color: #0000EE;
}

.error-message {
  margin-top: 15px;
}

.small-text {
  font-size: 10px;
}

.a-el-fix {
  background: none;
  border: none;
  cursor: pointer;
  color: #2568EF;
}

.mnemonic-div {
  margin-top: 50px;
  text-align: center;
}

.header-sign-out {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 12px!important;
}

@media print{
  .no-print {
    display: none;
  }
}

h5 {
  font-size: 16px!important;
}
